body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #1e2227;
  opacity: 1;
  font-weight: 400;
  color: white;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

html {
  font-size: 130%;
}

@media (max-width: 1400px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 370px) {
  body {
    padding-top: 1rem;
  }
}
